*{
    padding: 0;
    margin: 0;
}
body{
    background:url("./assets/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}
div.candy-crush{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#candy-board{
    background-color: lightblue;
    border: 6px solid slategray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}
#candy-board img{
    width: 50px;
    height: 50px;
}
h1{
    background-color: slategray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
}